<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Create Product</title>
        <link rel="stylesheet" href="createProduct.css">
    </head>
    <body>
        <div class="createProduct__form">
            <a href="index.html" id="leftback">
                <img src="./assert/backarrow.png" id="backbtn" alt="backbutton">
            </a>
        <h1>Create Product for sale</h1>
        <div class="createProduct__elements">
        <form id="createProduct">
            <label for="image">
                Image
                <input
                    type="file"
                    id="image"
                    name="image"
                    accept="image/*"
                    required
                />
                <br>
            </label>
            <label for="category">
                Category
                <select name="category" id="category">
                    <option value="Cars">Cars</option>
                    <option value="Toys">Toys</option>
                    <option value="Clothes">Clothing</option>
                    <option value="Other">Other</option>
                </select>
            </label>
            <br>
            <label for="price"
                >Price
                <input type="number" id="price" name="price" required />
            </label>
            <br>
            <button>Create</button>
        </div>
        </div>
        </form>
        <script src="createProduct.js"></script>
    </body>
</html>
