<html>
  <head>
    <script src="index.js"></script>
    <link rel="stylesheet" href="index.css">
    <title>Den Bøjede Avis - Danmarks nye handelsplatform!</title>
  </head>
  <body style="text-align: center">
    <div class="header__image">
        <img src="./assert/dba.png" alt="logo">
    </div>
    <div>
      <a href="./userSettings.html" class="cta">
        <span>User settings</span>
        <svg width="13px" height="10px" viewBox="0 0 13 10">
          <path d="M1,5 L11,5"></path>
          <polyline points="8 1 12 5 8 9"></polyline>
        </svg>
      </a>
    </div>
    <div>
      <a href="./myProducts.html" class="cta">
        <span>My products listed for sale</span>
        <svg width="13px" height="10px" viewBox="0 0 13 10">
          <path d="M1,5 L11,5"></path>
          <polyline points="8 1 12 5 8 9"></polyline>
        </svg>
      </a>
    </div>
    <div>
      <a href="./createProduct.html" class="cta">
        <span>Create a product for sale</span>
        <svg width="13px" height="10px" viewBox="0 0 13 10">
          <path d="M1,5 L11,5"></path>
          <polyline points="8 1 12 5 8 9"></polyline>
        </svg>
      </a>
    </div>
    <div>
      <a href="./allProducts.html" class="cta">
        <span>View all products for sale</span>
        <svg width="13px" height="10px" viewBox="0 0 13 10">
          <path d="M1,5 L11,5"></path>
          <polyline points="8 1 12 5 8 9"></polyline>
        </svg>
      </a>
    </div>
  </body>
</html>
