<html>
    <head>
        <script src="index.js"></script>
    </head>
    <body style="text-align: center">
        <h1>Welcome!</h1>
        <div>
            <a href="./userSettings.html">User settings</a>
        </div>
        <div>
            <a href="./myProducts.html">My products listed for sale</a>
        </div>
        <div>
            <a href="./createProduct.html">Create product for sale</a>
        </div>
        <div>
            <a href="./allProducts.html">View all products for sale</a>
        </div>
    </body>
</html>
