<html>
  <head>
    <script src="register.js"></script>
    <link rel="stylesheet" href="register.css">
  </head>
  <body>
    <div class="register__form">
    <h1>Register</h1>
    <form id="form">
      <input placeholder="Email" id="email" />
      <input placeholder="Password" id="password" type="password" />
      <br>
      <input value="Register" type="submit" id="register__submit" />
    </form>
    <a href="http://localhost:3000/login.html">Already have an account? Login</a>
    <br>
    <img src="./assert/dba.png" alt="logo">
  </div>
  </body>
</html>
