<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Update Product</title>
    </head>
    <body>
        <h1>My Product</h1>
        <div id="product"></div>
        <form id="updatePrice">
            <h3>Update Product Price</h3>
            <label for="price">
                New Price:
                <input
                    type="number"
                    name="price"
                    id="price"
                    placeholder="Enter New Price"
                />
            </label>
            <button>Submit</button>
        </form>
        <form id="delete">
            <h3>Delete Product</h3>
            <input value="Delete" type="submit" />
        </form>
        <script src="updateProduct.js"></script>
    </body>
</html>
